.info{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 10px;
    div{
        width: 16%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        label{
            margin-left: 6px;
            font-weight: 600;
            font-size: 14px;
        }
    }
}
th{
    background-color: var(--dourado) !important;
    color: #ffffff !important;
}
th:hover{
    background-color: #614b1f !important;
}

@media screen and (max-width: 600px) {
    .info{
        flex-direction: column;
        align-items: start;
        div{
            width: 100%;
        }
    }
}